<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
    <link rel="stylesheet" href="/style2.css">
    <style>
        body {
            background-color: bisque;
        }
    </style>
</head>
<body>
    <div class="body-style">
        <div class="form-container">
            <h2>SignUp</h2>
            <form action="/signup" method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="username" placeholder="Enter Your Email" required autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Password" required>
                </div>
                <button type="submit" class="submit-btn">SignUp</button>
            </form>
        </div>
    </div>
</body>
</html>